body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #4831D4;
}

.container{
    display: flex;
    top: 0%;
    min-width: 60%;
    justify-content: center;
}

.content {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 6em;
    padding-bottom: 6em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 9em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 6em;
    padding-bottom: 6em;
}


h1, h2, p {
    text-align: left;
}

h1 {
    margin: 0%;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    margin-top: 0%;
    font-size: 1.3em;
    font-weight: 550;
    margin-bottom: 1rem;
}

p {
    margin-top: 0%;
    margin-bottom: 1.3em;
    opacity: 0.8;
}

.intro {
    max-width: 25em;
    align-items: end;
}

.links {
    display: flex;
    flex-direction: row;
    padding: 0%;
    gap: 1em;
}

.fab {
    font-size: 1.7em;
    color: #4831D4;
    opacity: 0.7;
    transition: opacity 0.1s;
}

.fab:hover {
    opacity: 1;
}

li {
    list-style-type: none;
}

nav li {
    list-style-type: none;
    padding-top: .75em;
    padding-bottom: .75em;
    opacity: 0.4;
}

ul {
    padding: 0%;
    margin-top: 4em;
    width: max-content;
}

nav {
    font-size: .9em;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #4831D4;
}

nav li:hover {
    opacity: 1;
}

nav li:hover .slab {
    width: 4em;
}

.slab {
    display: inline-block;
    width: 2em; /* Adjust the width of the line */
    height: 1px;
    background-color: #4831D4; /* Color of the line */
    vertical-align: middle;
    margin-right: 1em; /* Adjust spacing between the line and text */
    transition: width 0.1s;
}

nav li.active {
    opacity: 1;
}

.active .slab{
    width: 4em;
}

@media (max-width: 768px) {
    .header{
        position: relative;
        flex: none;
        height: 100vh;
    }

    .content {
        flex-direction: column;
        top: 0%;
        bottom: 0%;
        left: 10%;
        right: 10%;
    }

    h1, h2, p {
        text-align: left;
    }
    
    h1 {
        margin: 0%;
        font-size: 1.8em;
        font-weight: bold;
    }
    
    h2 {
        font-size: .8em;
        font-weight: 550;
        margin-bottom: 1rem;
    }

    .intro {
        font-size: .7em;
        margin-right: 0%;
    }
}