body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #4831D4;
}

.container{
    display: flex;
    top: 0%;
    min-width: 55%;
    justify-content: center;
}

.content {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 6em;
    padding-bottom: 6em;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 9em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 6em;
    padding-bottom: 6em;
}


h1, h2, p {
    text-align: left;
}

h1 {
    margin: 0%;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    margin-top: 0%;
    font-size: 1.3em;
    font-weight: 550;
    margin-bottom: 1rem;
}

h3 {
    margin: 0;
    font-size: .95em;
    font-weight: 600;
}

p {
    margin-top: 0%;
    margin-bottom: 1.3em;
    opacity: 0.8;
}

.intro {
    max-width: 25em;
    align-items: end;
}

.links {
    display: flex;
    flex-direction: row;
    padding: 0%;
    gap: 1em;
}

.fab {
    font-size: 1.7em;
    color: #4831D4;
    opacity: 0.7;
    transition: opacity 0.1s;
}

.fab:hover {
    opacity: 1;
}

li {
    list-style-type: none;
}

nav li {
    list-style-type: none;
    padding-top: .75em;
    padding-bottom: .75em;
    opacity: 0.4;
}

ul {
    padding: 0;
    width: max-content;
}

nav {
    font-size: .9em;
    font-weight: 700;
    margin-top: 4em;
}

nav a {
    text-decoration: none;
    color: #4831D4;
}

nav li:hover {
    opacity: 1;
}

nav li:hover .slab {
    width: 4em;
}

.slab {
    display: inline-block;
    width: 2em; /* Adjust the width of the line */
    height: 1px;
    background-color: #4831D4; /* Color of the line */
    vertical-align: middle;
    margin-right: 1em; /* Adjust spacing between the line and text */
    transition: width 0.1s;
}

nav li.active {
    opacity: 1;
}

.active .slab{
    width: 4em;
}

ol {
    margin: 0;
    padding: 0;
}

#experiences {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: fit-content;
    margin-bottom: 9em;
}

.experience {
    padding: 1em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2em;
    transition: background-color 0.1s;
}

.experience header {
    font-size: .75em;
    font-weight: 600;
    margin-top: .25em;
    opacity: .7;
}

.experience p {
    margin-top: .5em;
    margin-bottom: 0;
    font-size: .9em;
}

.experience ul {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.experience li {
    margin-right: .5em;
}

.experience:hover {
    background-color: rgba(72, 49, 212, .05);
    cursor: pointer;
}

.experience:hover h3 {
    color: #695acf;
}

.tech {
    padding-top: .4em;
    padding-bottom: .4em;
    padding-left: .7em;
    padding-right: .7em;
    background-color: rgba(72, 49, 212, .1);
    border-radius: 9999px;
    font-size: .9em;
    font-weight: 500;
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: fit-content;
    margin-bottom: 9em;
}

form {
    color: #4831D4;
    text-align: left;
    margin-top: 3em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8em;
}

.form h1 {
    font-size: 2.2em;
}

.form h2 {
    font-size: 1em;
    font-weight: 450;
}

.form h1,
.form h2 {
    text-align: center;
    color: #4831D4;
}

label {
    margin-top: 0%;
    font-size: .8rem;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

input {
    padding: 0;
    border: 0;
    margin-bottom: 1.5em;
    width: 100%;
    line-height: 3;
    font-size: .9em;
    font-weight: 200;
    color: #4831D4;
    border-bottom: 1px solid #4831D4;
    font-family: 'Inter', sans-serif;
    outline: none;
}

textarea {
    padding: 0;
    border: 0;
    margin-bottom: 1em;
    width: 100%;
    line-height: 2.3;
    font-size: .9em;
    font-weight: 200;
    color: #4831D4;
    border-bottom: 1px solid #4831D4;
    font-family: 'Inter', sans-serif;
    outline: none;
    resize: none;
}

.button {
    text-align: center;
}

button {
    border: 1px solid #4831D4;
    background: none;
    color: #4831D4;
    box-shadow: inset 0 0 0 0 #4831D4;
    transition: ease-out 0.2s;
    margin-top: 2em;
    padding: 1em 6em;
    font-size: .9em;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

button:hover {
    box-shadow: inset  300px 0 0 #4831D4;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .header{
        position: relative;
        flex: none;
        height: 100vh;
    }

    .content {
        flex-direction: column;
        top: 0%;
        bottom: 0%;
        left: 10%;
        right: 10%;
    }

    h1, h2, p {
        text-align: left;
    }
    
    h1 {
        margin: 0%;
        font-size: 1.8em;
        font-weight: bold;
    }
    
    h2 {
        font-size: .8em;
        font-weight: 550;
        margin-bottom: 1rem;
    }

    .intro {
        font-size: .7em;
        margin-right: 0%;
    }
}